:root {
  --darkBlue: #1f2937;
  --primaryWhite: #f9faf8;
  --secondaryWhite: #e5e7eb;
  --blue: #3882f6;
  --blueHover: #245097;
  --darkGray: #1f2937;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondaryWhite);
}

#img-cloud {
  padding: 36px;
}

/* Begin header formatting */

.header {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 36px;
}

.logo-text {
  font-size: 24px;
  color: var(--primaryWhite);
}

.header-links {
  list-style-type: none;
  color: var(--secondaryWhite);
  display: flex;
  align-items: center;
}

.header-link {
  font-size: 18px;
  margin-left: 24px;
}
.header-link :hover {
  color: var(--primaryWhite);
  font-weight: bold;
}

.left-content {
  margin-left: 10vw;
}
.right-content {
  margin-right: 10vw;
}

/* End header formatting */

/* Begin banner formatting */

.container-banner {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 33%;
  gap: 16px;
}

.awesome-msg {
  font-size: 48px;
  font-weight: bolder;
  color: var(--primaryWhite);
}
.subtext-msg {
  font-size: 18px;
  color: var(--secondaryWhite);
}

button {
  width: 96px;
  height: 32px;
  border-radius: 8px;
  color: var(--primaryWhite);
  background-color: var(--blue);
  font-weight: bold;
}

button:hover {
  background-color: var(--blueHover);
  cursor: pointer;
}

/* end banner formatting */

/* begin main content / square formatting */

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 36px;
  margin: 36px 0;
}

.square {
  border: solid 4px var(--blue);
  width: 128px;
  height: 128px;
  border-radius: 8px;
}

.horizontal-square-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 48px;
  margin: 0 0 96px 0;
}

.square-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 128px;
}

/* TODO fix this subtext alignment behavior. . . doesn't match what's on instructions*/

.subtext {
  text-align: center;
}

/* begin quote section formatting */

.container-quote {
  background-color: var(--secondaryWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px;
  font-size: 24px;
}

.container-quote p {
  font-size: 36px;
  width: 50vw;
  color: var(--darkGray);
}

.container-quote h4 {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
}

/* end quote section */

/* begin call to action */

.container-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px;
}

.inner-action {
  background-color: var(--blue);
  width: 35vw;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inner-action h4 {
  color: var(--primaryWhite);
  font-size: 24px;
}

.inner-action p {
  color: var(--secondaryWhite);
}

.sign-up-action {
  margin-left: 64px;
  border: solid 2px var(--primaryWhite);
  font-size: 18px;
}

/* end call to action */

/* begin footer */

.footer {
  background-color: var(--darkGray);
  width: 100vw;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondaryWhite);
}
