:root {
  --darkBlue: #1f2937;
  --primaryWhite: #f9faf8;
  --secondaryWhite: #e5e7eb;
  --blue: #3882f6;
  --darkGray: #1f2937;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondaryWhite);
}

#img-cloud {
  padding: 36px;
}

/* Begin header formatting */

.header {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo-text {
  font-size: 24px;
  color: var(--primaryWhite);
}

.header-links {
  list-style-type: none;
  color: var(--secondaryWhite);
  display: flex;
  align-items: center;
}

.header-link {
  font-size: 18px;
  margin-left: 24px;
}
.header-link :hover {
  color: var(--primaryWhite);
  font-weight: bold;
}

.left-content {
  margin-left: 10vw;
}
.right-content {
  margin-right: 10vw;
}

/* End header formatting */

/* Begin banner formatting */

.container-banner {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 33%;
}

.awesome-msg {
  font-size: 48px;
  font-weight: bolder;
  color: var(--primaryWhite);
}
.subtext-msg {
  font-size: 18px;
  color: var(--secondaryWhite);
}

button {
  width: 96px;
  height: 32px;
  border-radius: 8px;
  color: var(--primaryWhite);
  background-color: var(--blue);
  font-weight: bold;
}
